/* General styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0
}

.container {
    width: 80%;
    margin: 0 auto;
}


header {
    background-color: #007bff;
    color: white
}

header a {
    color: white;
    text-decoration: none;
}

header .container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

header .container div:first-child {
    display: flex;
    align-items: center;
}

header .container div:first-child img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}